.conteudo-margin {
    margin-top: 55px;
}

.active.nav-link {
    color: #ffd000 !important;
    border-bottom: 1px solid #ffd000 !important;
}

.nav-link{
    border-bottom: 1px solid transparent;
}

/* .btn-person {
    background-color: #FFCA2C !important;
    border-color: #e3ac06 !important;
    color: rgb(21, 21, 21) !important;
}
 */

 /* login */
 .login {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login form {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}

.login h1.title-login, .login button  {
    text-align: center;
    display: block;
    margin: 0 auto;
}


/* Sobre */
.sobre {
    line-height: 30px;
}
